# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Pp]rojectSettings/
[Uu]serSettings/
Assets/AssetStoreTools*
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store
Thumbs.db

# Extra para limpiar Visual Studio y Unity Logs
.vs/
[Ll]ogs/